// 16px = 1em

// Universal styles. Will be in another file
* {
  font-family: Arial, Helvetica, sans-serif;
}

#BigBro {
  max-width: 56.250em;
  margin: 0 auto;
  border: 2px solid #B900FF;
  border-radius: 3px;

  #MainHeader {
    background-color: #B900FF;
    color: #FFF;
    padding: 15px;

    .title-name {
      font-size: 3em;
      margin: 0;
    }

    .title-description {
      font-size: 1.7em;
      margin: 0;
    }
  }

  #MainContent {
    .body-description-container {
      display: flex;
      padding: 15px;
      gap: 3em;

      .column {
        flex: 50%;

        //Generic styles
        h3 {
          color: #7E00AE;
          font-size: 1.3em;
          margin-bottom: 0;
          margin-left: 10px;
        }

        hr {
          height: 3px;
          background-color: #7E00AE;
        }
        //End of Generic styles

      }

    }
  }
}